body {
  font-family: 'Noto Sans', sans-serif;
}


  .venue {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;   /* 加重 */
  color: #555;        /* 稍微暗一点，更专业 */
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

/* .results-carousel {
  overflow: hidden;
} */

/* 
.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
} */


/* .results-carousel {
  width: 2560px;  
  overflow: hidden;
  position: relative;
} */

/* .results-carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
} */

/* .results-carousel .item {
  flex: 0 0 auto;    
  padding: 5px;
  box-sizing: border-box;
} */

/* .results-carousel video {
  width: 70%;
  height:70%;
  object-fit: cover;
  border-radius: 10px;
} */

/* 视频轮播 */

.video-carousel {
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.video-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.video-item {
  flex: 0 0 100%; /* 每次显示一个视频 */
  padding: 10px;
  box-sizing: border-box;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}



.video-controls {
  text-align: center;
  margin-top: 20px;
}

.video-controls button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 25%;
  width: 25px;
  height: 25px;
  font-size: 1.0rem;
  /* line-height: 5px; */
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.video-controls button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
  color: #000;
}

.dot-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 14px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  /* background-color: transparent; */
  cursor: pointer;
  transition: all 0.2s ease;
}

.dot.active {
  background-color: #fff;
}



.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
